*.log
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/
scripts/

/readme.html
/license.txt

.idea
.vagrant
.htaccess

wp-content/themes/healing-touch/static/css/app.css
wp-content/themes/healing-touch/node_modules
node_modules/

sql
