header {
  margin-bottom: 110px;
}
nav {
  height: 110px;
  background-color: #fff!important;
}
#global-nav {
  height: 50px;
  background-color: #FFF;
  padding-top: 15px;
}
#global-nav a {
  color: #55B2A8;
}
#global-nav p {
  color: #55B2A8;
  margin: 0;
  float: left;
}
#global-icons {
  width: 75px;
  float: right;
  margin-top: 0px;
}
#global-icons a {
  color: #55B2A8;
  border: 2px solid #55B2A8;
  background-color: #FFF;
}
.header-separator {
  border-top: 1px solid #50B2AD;
  margin: 0 auto;
}
#logo {
  float: left;
}
.logo {
  height: 80px;
  width: auto;
  margin-top: 10px;
}
#navbarCollapse {
  width: 300px;
  float: left;
  margin-left: 8%;
}
#navbarCollapse ul {
  float: left;
  margin-left: 3%;
  margin-top: 16px;
  font-size: 1.1em;
  font-weight: 500;
}
header a,
#navbarCollapse a,
header a:hover {
  background-color: inherit;
  text-decoration: none;
}
#menu-primary a {
  color: #50B2A8;
  padding: 10px 9px;
  font-weight: 200;
}
#menu-primary a:hover {
  border-bottom: 4px solid #50B2A8;
}
.head-icons {
  float: right;
  margin-top: 14px;
}
.head-icons a {
  color: #50B2A8;
  background: rgba(0, 0, 0, 0.05);
  padding: 14px 0px 10px 1px;
}
.head-icons a i {
  font-size: 2em;
  padding: 10px 10px 0 9px;
}
.head-icons a:hover {
  background-color: #50b2a8;
  color: #fff;
}
.icon-hours,
.icon-contact {
  font-size: 16px;
  font-weight: 200;
}
.icon-hours {
  padding-right: 5px;
}
.dropdown-menu {
  position: absolute;
  top: 62%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 0px 0;
  margin: 0px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
#nav-menu-btn {
  float: left;
  background-color: transparent;
  border: 0px solid #333;
  top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 5px;
  padding-top: 10px;
  cursor: pointer;
}
#nav-menu-btn {
  margin-top: 15px;
}
#nav-menu-btn .icon-bar {
  background-color: #50B2A8;
  height: 4px;
}
/*=====Media Queries ======*/
@media (min-width: 768px) and (max-width: 991px) {
  .dropdown-menu {
    position: static;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  .head-icons {
    position: absolute;
    right: 10%;
  }
}
/** collapse at sm screen with addtnl styling **/
@media (max-width: 991px) {
  #navbarCollapse {
    width: 250px;
    margin-left: 0%;
  }
  .push-down {
    top: 0;
  }
  a.dropdown-toggle {
    float: none;
  }
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 0px solid transparent;
    box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block!important;
  }
  .collapsing {
    overflow: hidden!important;
  }
  #navbarCollapse {
    float: left!important;
    clear: left;
    border-color: #333;
    background-color: #fff;
  }
  #navbarCollapse a {
    color: #333;
  }
  .img-arrow {
    text-align: center;
    padding: 30px 0;
  }
  #menu-primary li.active {
    border-bottom: none;
  }
  #menu-primary li:hover {
    border-bottom: none;
  }
  #global-nav {
    display: none;
  }
  #separator {
    display: none;
  }
  header {
    margin-bottom: 60px;
  }
  nav {
    height: 60px;
  }
  .logo {
    height: 50px;
  }
}
@media (max-width: 767px) {
  .head-icons {
    right: 20px;
    position: absolute;
  }
  .head-icons span {
    display: none;
  }
}
/*Banner Styles*/
.sp-grab {
  cursor: default!important;
}
.sp-grabbing {
  cursor: pointer!important;
}
#banner {
  height: 700px;
  overflow: hidden;
}
.carousel-inner > .item > a > img,
.carousel-inner > .item > img {
  margin: 0 auto;
}
/*Info Boxes*/
#services {
  text-align: center;
  position: relative;
  margin-top: -100px;
  z-index: 10;
}
#services p {
  text-align: justify;
  padding-bottom: 20px;
}
.box {
  background-color: #50B2A8;
  padding: 35px 25px;
  color: #fff;
  height: 384px;
}
.box a,
.box a:hover {
  color: #fff;
}
.box:hover {
  background-color: #333;
  color: #fff;
}
#services .col-md-3 {
  padding-right: 5px;
  padding-left: 5px;
}
.service-button {
  margin-top: 1%;
  padding: 10px 25px;
  border: 2px solid #fff;
  color: #fff;
}
.service-button:hover {
  background-color: #50B2A8;
  color: #fff;
}
/*testimonial styles*/
.separator {
  border-top: 1px solid #333;
  margin: 0 auto;
}
#testimonials {
  padding: 40px 0px;
}
.cbp-qtcontent blockquote {
  border-left: 0px!important;
}
.cbp-qtcontent p,
.cbp-qtcontent footer {
  color: #333!important;
}
.bx-wrapper .bx-controls-direction a {
  z-index: 2!important;
}
/*=====Doctor Styles=====*/
#doctor-content p {
  text-align: justify;
}
.doctor-image {
  width: 300px;
  float: left;
  margin-right: 20px;
}
#doctor-content img {
  width: 100%;
  padding: 15px 0px;
}
@media (max-width: 575px) {
  .doctor-image {
    width: 100%;
    float: none;
    margin: 0 auto;
  }
}
/*=====Contact Styles=====*/
#contact-form {
  background: url("../../img/contact/office.jpg") rgba(0, 0, 0, 0.2);
  background-size: cover;
  height: 650px;
  padding-top: 40px;
  background-attachment: fixed;
}
.contact-content {
  background-color: rgba(96, 100, 109, 0.6);
  width: 85%;
  height: 550px;
  margin: 0 auto;
  padding: 20px 30px;
  color: #fff;
}
.content {
  float: right;
  font-size: 1.5em;
}
.content a {
  color: #fff;
}
.form {
  width: 500px;
  float: left;
  color: #333;
}
.form input,
.form textarea {
  border: 1px solid #eee;
}
.form input {
  height: 45px!important;
  margin: 5px 0;
}
.field-wrap {
  margin-bottom: 12px!important;
}
.ninja-forms-required-items {
  padding: 5px 0;
}
#ninja_forms_field_5 {
  height: 40px!important;
  width: 100px;
  font-size: 1.2em;
  background-color: #333;
  color: #fff;
  border: 1px;
}
/*=====Footer Styles=====*/
#text-2 h2 {
  display: none;
}
.bizoh-table {
  width: 73%!important;
  margin: 0 auto;
  margin-bottom: 0!important;
}
#hours td,
#hours th {
  padding: 0.1em;
}
.hours-h2 {
  font-weight: 200;
  margin-top: 0;
}
.office-pic {
  max-width: 73%;
  max-height: 100%;
  border: 1px solid #333;
  border-radius: 5px;
  margin: 0 auto;
}
#contact {
  background-color: #333;
  color: #fff;
  padding: 20px 0px;
}
#contact a {
  color: #fff;
}
#hours {
  text-align: center;
}
.hours {
  font-size: 3.5em;
}
#office-pic {
  text-align: center;
}
#office-pic h2 {
  margin-top: 0;
}
.contact-header {
  text-align: center;
  font-weight: 200;
}
#copyright {
  background-color: #50B2A8;
  padding: 20px 0px 15px 0px;
}
#copyright p {
  text-align: right;
}
#copyright ul {
  margin-bottom: 0;
  padding-left: 0;
}
.sm-icons {
  margin-top: 10px;
}
.sm-icons a,
.sm-icons a:hover {
  background-color: #333;
  color: #50B2A8;
}
.sm-tw-icon {
  padding: 9px 5px 3px 5px;
  border-radius: 100%;
}
.sm-fb-icon {
  padding: 10px 10px 2px 10px;
  border-radius: 100%;
}
.sm-icons i {
  font-size: 1.5em;
}
/*==========Staff Styles Sheet========*/
.color {
  background-color: #FFF;
}
#staff {
  margin: 20px 0 0 0;
}
.staff-photo-box {
  background-color: #F0F4F7;
  width: 100%;
  height: 870px;
  margin: 20px auto;
}
#staff h3,
#staff h4 {
  margin: 25px 0;
  padding: 0 15px;
  font-weight: 200;
  text-align: center;
}
#staff p {
  padding: 0 15px 15px 15px;
  text-align: justify;
}
.staff-photo {
  width: 100%!important;
  height: auto;
}
@media (max-width: 767px) {
  .staff-pics {
    width: 250px;
    height: 250px;
    margin: 0 auto;
  }
  .staff-photo-box {
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .staff-photo-box {
    height: 820px;
  }
}
/*========Services Style Sheet==========*/
#service h2 {
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 200;
}
#service p {
  margin-bottom: 0px;
  text-align: justify;
}
.service-photo-box {
  float: left;
  height: 300px;
  width: 185px;
}
.service-content {
  float: left;
  height: 300px;
  width: 350px;
  padding: 15px;
}
.service-container {
  background-color: #F0F4F7;
  height: 300px;
  margin: 10px 0;
}
.service-photo {
  height: 300px;
  width: 185px;
  border-radius: 0px;
  float: left;
}
.service-photo:hover {
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/*=====GLOBAL STYLES=====*/
html {
  font-weight: 200;
}
body {
  color: #333;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #333;
  text-decoration: none;
}
a:active {
  color: inherit;
  text-decoration: none;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
h1 {
  font-weight: 200;
}
ul {
  list-style-type: none;
}
.container {
  width: : 50px;
}
/*Global Page Title Styles*/
#page-title h1 {
  color: #50B2A8;
  margin-top: 40px;
}
#site-banner {
  background-size: cover;
  background: url("../../img/icons/colorfulspine.png") center;
  height: 200px;
  border-bottom: 2px solid #50B2A8;
}
