/*=====Footer Styles=====*/

#text-2 h2{
  display: none;
}

.bizoh-table{
  width: 73%!important;
  margin: 0 auto;
  margin-bottom: 0!important;
  }

#hours td, #hours th{
  padding: 0.1em;
}

.hours-h2{
  font-weight: 200;
  margin-top: 0;
}
.office-pic{
  max-width: 73%;
  max-height: 100%;
  // width: auto;
  border: 1px solid #333;
  border-radius: 5px;
  margin: 0 auto;
}

#contact{
  background-color: #333;
  color: #fff;
  padding: 20px 0px;
}



#contact a{
  color: #fff;
}

#hours{
  text-align: center;
}
.hours{
  font-size: 3.5em;
}
#office-pic{
  text-align: center;
}
#office-pic h2{
  margin-top: 0;
}

.contact-header{
  text-align: center;
  font-weight: 200;
  // margin-bottom: 25px;
}

#copyright{
  background-color: #50B2A8;
  padding: 20px 0px 15px 0px;
}

#copyright p{
  text-align:right;
}

#copyright ul{
  margin-bottom: 0;
}
.sm-icons{
  padding-left: 35px;
  margin-top: 10px;
}
.sm-icons a, .sm-icons a:hover{
  background-color: #333;
  color:#50B2A8;
  margin-left: 5px;
}

.sm-tw-icon{
  padding: 9px 5px 3px 5px;
  border-radius: 100%;
}
.sm-fb-icon{
  padding: 10px 10px 2px 10px;
  border-radius: 100%;
}
.sm-icons i{
  font-size: 1.5em;
}
