header{
  margin-bottom: 80px;
}

nav{
  height: 80px;
}

#logo{
  float: left;
  margin-left: 60px;
}

.logo{
  height: 95px;
  width: auto;
  margin-top: 15px;
}


#navbarCollapse ul{
  float: left;
  margin-left: 3%;
  margin-top: 32px;
  font-size:1.1em;
  font-weight:500;
}

header a, #navbarCollapse a, header a:hover{
  background-color: inherit;
  text-decoration: none;
}

#menu-primary a{
  color:#50B2A8;
  padding: 12px 9px;
}
#menu-primary a:hover{
  border-bottom: 4px solid #50B2A8;
}

.head-icons{
  float: right;
}

.head-icons{
  position: absolute;
  top: 43%;
  right: 2%;
}

.head-icons a{
  font-size:1.1em;
  color:#50B2A8;
  font-weight: 500;
  background:rgba(0,0,0,0.20);
  padding-top: 16px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom:15px;
}

.head-icons a i{
  font-size: 2.2em;
}

.head-icons a:hover{
  background-color: #50b2a8;
  color:#fff;
}
