header{
  margin-bottom: 110px;
}

nav{
  height: 110px;
}

#global-nav{
  height: 50px;
  background-color: #60646D;
  padding-top: 15px;
}
#global-nav p{
  color: #fff;
  margin: 0;
  float: left;
}

#global-icons{
    width: 200px;
    position: absolute;
    top: 7%;
    right: 1%;
}
#global-icons a{
  color: #fff;
  border: 2px solid #fff;
  background-color: #60646d;

}

#logo{
  float: left;
  margin-left: 60px;
}

.logo{
  height: 80px;
  width: auto;
  margin-top: 10px;
}


#navbarCollapse ul{
  float: left;
  margin-left: 3%;
  margin-top: 17px;
  font-size:1.1em;
  font-weight:500;
}

header a, #navbarCollapse a, header a:hover{
  background-color: inherit;
  text-decoration: none;
}

#menu-primary a{
  color:#50B2A8;
  padding: 10px 9px;
}
#menu-primary a:hover{
  border-bottom: 4px solid #50B2A8;
}

.head-icons{
  float: right;
    position: absolute;
    top: 58%;
    right: 13%;
}

.head-icons a{
  color:#50B2A8;
  background:rgba(0,0,0,0.20);
  padding:14px 0px 10px 1px;
}

.head-icons a i{
  font-size: 2em;
  padding: 10px 10px 0 9px;
}

.head-icons a:hover{
  background-color: #50b2a8;
  color:#fff;
}
.icon-hours, .icon-contact{
  font-size: 16px;
  font-weight: 600;
}
.icon-hours{
  padding-right: 5px;
}
