header{
  margin-bottom: 110px;
}

nav{
  height: 110px;
  background-color: #fff!important;
}

#global-nav{
  height: 50px;
  background-color: #FFF;
  padding-top: 15px;
}

#global-nav a{
  color: #55B2A8;
}

#global-nav p{
  color: #55B2A8;
  margin: 0;
  float: left;
}

#global-icons{
    width: 75px;
  float:right;
  margin-top: 0px;
}

#global-icons a{
  color: #55B2A8;
  border: 2px solid #55B2A8;
  background-color: #FFF;
}
.header-separator{
  border-top: 1px solid #50B2AD;
  margin: 0 auto;
}

#logo{
  float: left;
}

.logo{
  height: 80px;
  width: auto;
  margin-top: 10px;
}

#navbarCollapse{
  width: 300px;
  float: left;
  margin-left: 8%;
}

#navbarCollapse ul{
  float: left;
  margin-left: 3%;
  margin-top: 16px;
  font-size:1.1em;
  font-weight:500;
}

header a, #navbarCollapse a, header a:hover{
  background-color: inherit;
  text-decoration: none;
}

#menu-primary a{
  color:#50B2A8;
  padding: 10px 9px;
  font-weight: 200;
}
#menu-primary a:hover{
  border-bottom: 4px solid #50B2A8;
}

.head-icons{
  float: right;
  margin-top: 14px;

}

.head-icons a{
  color:#50B2A8;
  background:rgba(0,0,0,0.05);
  padding:14px 0px 10px 1px;
}

.head-icons a i{
  font-size: 2em;
  padding: 10px 10px 0 9px;
}

.head-icons a:hover{
  background-color: #50b2a8;
  color:#fff;
}
.icon-hours, .icon-contact{
  font-size: 16px;
  font-weight: 200;
}
.icon-hours{
  padding-right: 5px;
}
.dropdown-menu{
  position: absolute;
    top: 62%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 0px 0;
    margin: 0px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 0px solid rgba(0,0,0,.15);
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

#nav-menu-btn{
  float: left;
  background-color: transparent;
  border: 0px solid #333;
  top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 5px;
  padding-top: 10px;
  cursor: pointer;
}

#nav-menu-btn{
  margin-top:15px;
}
#nav-menu-btn .icon-bar{
  background-color: #50B2A8;
  height: 4px;
}

/*=====Media Queries ======*/
//At small screen only
@media(min-width: @screen-sm-min) and (max-width: @screen-sm-max) {

  .dropdown-menu{
   position: static;
   background-color: transparent;
   border: none;
   box-shadow: none;
 }

 .head-icons{
     position: absolute;
     right: 10%;
 }

}

/** collapse at sm screen with addtnl styling **/
@media (max-width: @screen-sm-max) {
  #navbarCollapse {
      width: 250px;
      margin-left: 0%;
  }

  .push-down {
    top: 0;
  }

  a.dropdown-toggle{
    float: none;
  }

  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 0px solid transparent;
    box-shadow: inset 0 0px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block!important;
  }
  .collapsing {
    overflow: hidden!important;
  }


  #navbarCollapse{
    float: left!important;
    clear: left;
    border-color: #333;
    background-color: #fff;
  }

  #navbarCollapse a{
    color: #333;

  }


  .img-arrow {
    text-align: center;
    padding: 30px 0;
  }

  #menu-primary li.active {
    border-bottom: none;
  }

  #menu-primary li:hover{
    border-bottom: none;
  }

  #global-nav{
    display: none;
  }
  #separator{
    display:none;
  }


  header{
    margin-bottom: 60px;
  }
  nav{
    height: 60px;
  }
  .logo{
    height:50px;
  }
}



@media (max-width: @screen-xs-max){
  .head-icons{
    right: 20px;
    position:absolute;
  }
  .head-icons span{
    display: none;
  }

}
