/*Banner Styles*/

.sp-grab{
  cursor: default!important;
}
.sp-grabbing{
  cursor: pointer!important;
}

#banner{
  // padding-top:30px;
  // padding-left: 60px;
  // color: #fff;
  height: 700px;
  overflow: hidden;
  // background-size: cover;
  // background: url("../../img/jc-adjustment-banner.jpg") center;
}

#banner h1{
  // font-size: 3em;
  // font-weight: 200;
}
#banner p{
  // padding-bottom: 15px;
}
#banner .service-button:hover{
  // background-color:#50B2A8;
  // border: 2px solid #50B2A8;
}

/*Info Boxes*/
#services{
  text-align: center;
  position: relative;
  margin: -100px 100px 0px 100px;
  z-index: 10;
}

.icon-style{
  // padding: 25px 5px 2px 5px;
  // border: 2px solid #333;
  // border-radius: 100%;
  // background: rgba(0,0,0,0.25)
}
#services p{
  text-align: justify;
  padding-bottom: 20px;
}

.box{
  background-color:#50B2A8;
  padding:35px 25px;
  color: #fff;
}
.box a, .box a:hover{
  color:#fff;
}

.box:hover{
  background-color:#333;
  color: #fff;
}
#services .col-md-3{
  padding-right: 5px;
  padding-left:5px;
}

.service-button{
  margin-top: 1%;
  padding: 10px 25px;
  border: 2px solid #fff;
  color: #fff;
}

.service-button:hover{
  // background-color:#333;
  color:#fff;
}

/*testimonial styles*/
.separator{
  border-top: 1px solid #333;
  width: 95%;
  margin: 0 auto;
}

#testimonials{
  padding: 40px 0px;
  // height: 550px;
}

#testimonials h1{
  margin-left: 45px;
}
.cbp-qtcontent blockquote{
  border-left: 0px!important;
}

.cbp-qtcontent p, .cbp-qtcontent footer{
  color:#333!important;
}
